{{ 'briss-not-found.css' | asset_url | stylesheet_tag }}

<div class="not-found-container">
    <h2 class="heading__secondary">Page not found!</h2>
    {{ images['briss_1.jpg'] | image_url: width: 400, height: 400 | image_tag: class: 'not-found__img' }}
    <a class="not-found__link" href="{{ routes.root_url }}">continue shopping</a>
</div>