{{ 'briss-browse-all.css' | asset_url | stylesheet_tag }}

<div class="section">
    <div class="browse-all">
        <h2 class="heading__secondary">come and have a butchers</h2>
        <a href="collections/all">shop all products</a>
    </div>
</div>

{% schema %}
    {
        "name": "product-featured",
        "class": "grid__browse-all"
    }
{% endschema %}