{{ 'briss-contact-page.css' | asset_url | stylesheet_tag }}

<div class="map-container tab-fade">
    <div class="map" id='map'></div>
</div>
<div class="contact tab-fade">
    <h3 class="contact__heading heading__tertiary">COME AND HAVE A BUTCHERS!</h3>
    <ul class="contact__address">
        <li>H. BRISS & SON</li>
        <li>86 Station RD</li>
        <li>Royston Vasey</li>
        <li>England</li>
        <li>01457 555555</li>
    </ul>
</div>
<div class="contact__img--container tab-fade">
    {{ images['royston.jpg'] | image_url: width: 615, height: 409 | image_tag: class: 'contact__img' }}
</div>

{% javascript %}
    const displayMap = () => {
        mapboxgl.accessToken = 'pk.eyJ1Ijoicmlja3lyaWNhcmRpbmhvIiwiYSI6ImNrZTRuMGJteTAycWEyenBvbDRpZW12ZDcifQ.P0eovMFE3-zpXFL8TXAnhg';
  
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/rickyricardinho/ckgf9w7h12h7n19pds7npab31',
            center: [-1.9683, 53.46315],
            zoom: 15,
        });

        new mapboxgl.Marker().setLngLat([-1.9683, 53.46315]).addTo(map);

        var markerHeight = 50,
        markerRadius = 10,
        linearOffset = 25;
        
        var popupOffsets = {
            top: [0, 0],
            'top-left': [0, 0],
            'top-right': [0, 0],
            bottom: [0, -markerHeight],
            'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1,],
            'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1,],
            left: [markerRadius, (markerHeight - markerRadius) * -1],
            right: [-markerRadius, (markerHeight - markerRadius) * -1],
        };
  
    new mapboxgl.Popup({ offset: popupOffsets, className: 'map__popup' })
        .setLngLat([-1.9683, 53.46315])
        .setHTML('<h4>H BRISS & SON</h4>')
        .setMaxWidth('none')
        .addTo(map);
    };

    displayMap()
{% endjavascript %}

{% schema %}
    {
        "name": "contact-page",
        "class": "grid__contact-page"
    }
{% endschema %}