{{ 'briss-continue-shopping.css' | asset_url | stylesheet_tag }}

<section class="continue-shopping">
    <div class="continue-shopping-container">
        {% for block in section.blocks %}
            <a href="{{ routes.all_products_collection_url }}">{{ block.settings.continue-shopping-text }}</a>
        {% endfor %}
        
    </div>
</section>

{% schema %}
    {
        "name": "Continue Shopping",
        "tag": "section",
        "class": "continue-shopping",
        "limit": 2,
        "presets": [
            {
                "name": "Default Continue Shopping",
                "blocks": [
                    {
                        "type": "continue-shopping-text",
                        "settings": {
                            "continue-shopping-text": "Continue Shopping"
                        }
                    }
                ]
            }
        ],
        "blocks": [
            {
                "name": "Continue Shopping Text",
                "type": "continue-shopping-text",
                "settings": [
                    {
                        "type": "text",
                        "id": "continue-shopping-text",
                        "label": "Continue Shopping Text"
                    }
                ]
            },
        ],
        "max_blocks": 1
    }
{% endschema %}