{{ 'briss-customer-section.css' | asset_url | stylesheet_tag }}


<div class="section">
    <h3 class="heading__tertiary review__heading">Happy Customers</h3>
    <div class="review__container"></div>
</div>

{% schema %}
    {
        "name": "customer-section",
        "class": "grid__customers"
    }
{% endschema %}