{{ 'briss-footer.css' | asset_url | stylesheet_tag }}


<footer class="footer grid__footer">
    <h3 class="heading__tertiary footer__header">EST. 1999 ROYSTON VASEY</h3>
    <div class="icon__info">
      <a href="https://icons8.com/">icons by Icons8</a>
    </div>
</footer>