{{ 'briss-header.css' | asset_url | stylesheet_tag }}

<header class="grid__header header" id="btn__home">
    <div class="icon__header">
      <img
        src="https://img.icons8.com/material/48/000000/cow.png"
        alt="cow icon"
      />
      <img
        src="https://img.icons8.com/material/48/000000/chicken.png"
        alt="chicken icon"
      />
      <img
        src="https://img.icons8.com/material/48/000000/pig.png"
        alt="pig icon"
      />
    </div>
    <div class="header-container">
      <h1 class="heading__primary">H. BRISS & SON</h1>
      <h2 class="heading__secondary">Family Butcher</h2>
    </div>

    <div class="icon__header">
      <img
        src="https://img.icons8.com/material/48/000000/cow.png"
        alt="cow icon"
      />
      <img
        src="https://img.icons8.com/material/48/000000/chicken.png"
        alt="chicken icon"
      />
      <img
        src="https://img.icons8.com/material/48/000000/pig.png"
        alt="pig icon"
      />
    </div>
  </header>