{{ 'briss-header.css' | asset_url | stylesheet_tag }}


    <div class="icon__header">
      {% render 'header-icon-select' icon_position: section.settings.header_icon_right %}
      {% render 'header-icon-select' icon_position: section.settings.header_icon_middle %}
      {% render 'header-icon-select' icon_position: section.settings.header_icon_left %}
    </div>
    
    <div id="header-container" class="header-container">
      <h1 class="heading__primary">
        <span>{{ section.settings.header_primary__top }}</span>
        <span>{{ section.settings.header_primary__btm }}</span>
      </h1>
      <h2 class="heading__secondary">{{ section.settings.header_secondary }}</h2>
    </div>

    <div class="icon__header">
      {% render 'header-icon-select' icon_position: section.settings.header_icon_right %}
      {% render 'header-icon-select' icon_position: section.settings.header_icon_middle %}
      {% render 'header-icon-select' icon_position: section.settings.header_icon_left %}
    </div>


  {% schema %}
    {
      "name": "header",
      "tag": "header",
      "class": "grid__header header",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "header_primary__top",
          "label": "primary heading top",
          "default": "H. BRISS"
        },
        {
          "type": "text",
          "id": "header_primary__btm",
          "label": "primary heading bottom",
          "default": "& SON"},
        {
          "type": "text",
          "id": "header_secondary",
          "label": "secondary heading",
          "default": "Family Butcher"
        },        
        {
          "type": "select",
          "id": "header_icon_right",
          "options": [
            {
              "value": "header_chicken.png",
              "label": "Chicken Icon"
            },
            {
              "value": "header_cow.png",
              "label": "Cow Icon"
            },
            {
              "value": "header_pig.png",
              "label": "Pig Icon"
            }
          ],
          "default": "header_cow.png",
          "label": "Header Icon Right",
          "info": "Change header icon in right position"
        },
        {
          "type": "select",
          "id": "header_icon_middle",
          "options": [
            {
              "value": "header_chicken.png",
              "label": "Chicken Icon"
            },
            {
              "value": "header_cow.png",
              "label": "Cow Icon"
            },
            {
              "value": "header_pig.png",
              "label": "Pig Icon"
            }
          ],
          "default": "header_chicken.png",
          "label": "Header Icon Middle",
          "info": "Change header icon in middle position"
        },
        {
          "type": "select",
          "id": "header_icon_left",
          "options": [
            {
              "value": "header_chicken.png",
              "label": "Chicken Icon"
            },
            {
              "value": "header_cow.png",
              "label": "Cow Icon"
            },
            {
              "value": "header_pig.png",
              "label": "Pig Icon"
            }
          ],
          "default": "header_pig.png",
          "label": "Header Icon Left",
          "info": "Change header icon in left position"
        }
      ]
    }
  {% endschema %}