{{ 'briss-navigation.css' | asset_url | stylesheet_tag }}

<nav class="nav-bar">
    <div class="dash-short"></div>
    <div class="nav-bar__btn" id="btn__about">About</div>
    <div class="dash"></div>
    <div class="nav-bar__btn" id="btn__menu">Menu</div>
    <div class="dash"></div>
    <div class="nav-bar__btn" id="btn__contact">Contact</div>
    <div class="dash-short"></div>
</nav>