{{ 'briss-product-featured.css' | asset_url | stylesheet_tag }}


<div class="section">
    <h3 class="heading__tertiary featured__heading">Our Favorites</h3>
    <div class="featured__container">
        {% for collection in collections %}
            {% if collection.title == 'featured' %}
                {% for product in collection.products %}
                    <div class="featured__card">
                        <div class="featured__card--title">
                            <h4>{{ product.title }}</h4>
                        </div>
                        <div class="featured__card--img">
                            {{ product.featured_image | image_url: width: 200, height: 200 | image_tag }}
                        </div>
                        <div class="featured__card--more"> 
                            <a href="{{ product.url }}">More Information</a>
                        </div>
                    </div>
                {% endfor %} 
            {% endif %}
        {% endfor %}
    </div>
    
</div>

{% schema %}
    {
        "name": "product-featured",
        "class": "grid__product-featured"
    }
{% endschema %}