{{ 'briss-subscribe.css' | asset_url | stylesheet_tag }}
<div class="subscribe subscribe-container"> 
<h2 class="heading__secondary subscribe__heading">Join our newsletter!</h2>
<div class="subscribe-form-container subscribe-form-container ">
    {% form 'customer', class:'subscribe-form' %}
    <div class="email subscribe-form-input-container">
        
        <input type="email" name="contact[email]" placeholder="email" />
        <label for="email" class="subscribe-form-label">Email</label>
    </div>

    <div class="submit">
        <input type="submit" value="Sign up"  class="subscribe-btn"/>
    </div>
    {% if form.posted_successfully? %}
        <div class="subscribe-form__success">
            <p>Thank you for subscribing!</p>
        </div>
    {% endif %}
    {% endform %}
</div>

</div>