footer {
  padding: var(--padding-100);
  background-color: var(--primary-color-white-500);
  border-top: var(--border-red-5px);
}

.footer__header {
  text-align: center;
  margin: calc(var(--margin-100) / 2);
}

.icon__info {
  margin: 0 auto;
  width: max-content;
  color: var(--primary-color-red-500);
  font-family: var(--font-dancing-script);
  font-size: var(--font-size-200);
}

.footer__social_links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  overflow: hidden;
  width: clamp(350px, 60%, 600px);
  margin: 0 auto 5px auto;
}

.footer__social_links--container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.footer__social_links a {
  height: 80%;
  margin-left: 2px;
  color: var(--primary-color-red-500);
}

.footer__social_links img {
  /* icon is png so cant be color normal way. filter changes color used https://codepen.io/sosuke/pen/Pjoqqp to generate filter */
  filter: invert(8%) sepia(68%) saturate(5842%) hue-rotate(356deg) brightness(103%) contrast(93%);
}

@media only screen and (max-width: 400px) {
  .footer__header {
    font-size: var(--font-size-200);
  }

  .footer__social_links {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }

  .footer__social_links img {
    height: 25px;
    width: 25px;
  }
}
