.grid__contact-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'contact-address contact-image'
    'contact-map contact-map';
}

.contact {
  grid-area: contact-address;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 95%;
  padding: var(--padding-200);
  border-radius: 25%;
  background-color: var(--primary-color-white-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--margin-300);
  box-shadow: 2px 2px 5px var(--secondary-color-black);

  border: var(--border-red-5px);
}

.contact__heading {
  margin: var(--margin-200) 0;
  border-bottom: 2px solid var(--primary-color-red-500);
}

.contact__address {
  margin: var(--margin-100);
  list-style: none;
  font-size: 1.5rem;
  font-family: var(--font-dancing-script);
  color: var(--primary-color-red-500);
  border: 2px solid var(--primary-color-red-500);
  padding: var(--padding-200);
}

.contact__img--container {
  grid-area: contact-image;
  justify-self: center;
  align-self: center;
  background-color: var(--primary-color-white-500);
  width: 90%;
  height: 95%;

  border-radius: 25%;
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  padding: calc(var(--padding-100) / 2);
  border: var(--border-red-5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__img {
  border-radius: 25%;
  height: 100%;
  width: 100%;
}

.map-container {
  grid-area: contact-map;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.map {
  width: 98%;
  height: 300px;
  border-radius: 100px;
  border: var(--border-red-5px);
  margin-bottom: var(--margin-200);
}

.map__popup {
  font-family: var(--font-dancing-script);
  color: var(--primary-color-red-500);
  font-size: var(--font-size-200);
  cursor: pointer;
}
