.sidebar {
  background-color: var(--primary-color-white-500);
  border-right: var(--border-red-5px);
  grid-area: sidebar;
  height: 100%;
}

.review__heading {
  width: max-content;
  margin: 0 auto;
  border-bottom: 2px solid var(--primary-color-red-500);
}

.review__container {
  display: flex;
  height: 90%;
  margin: var(--margin-100);
  flex-direction: column;
  justify-content: space-around;
}

.review {
  font-family: var(--font-dancing-script);
  font-size: var(--font-size-200);
  color: var(--primary-color-red-500);
  border: 2px solid var(--primary-color-red-500);
  border-radius: 20px;
  width: 98%;
  margin: var(--margin-100) auto;
  padding: calc(var(--padding-100) / 2);
  background-color: var(--primary-color-red-400);
  box-shadow: 2px 2px 5px var(--secondary-color-black);
}

.review__customer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--margin-100) 0;
}

.review__img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid var(--primary-color-red-500);
  padding: 2px;
  margin: calc(var(--margin-100) / 2);
  background-color: var(--primary-color-white-500);
}

.review__name {
  border-bottom: 1px solid var(--primary-color-white-500);
  color: var(--primary-color-white-500);
}

.review__content {
  width: 95%;
  margin: 0 auto;
  padding: calc(var(--padding-100) / 2);
  border: 2px double var(--primary-color-red-500);
  border-radius: 5px;
  background-color: var(--primary-color-white-500);
}
