.continue-shopping {
  padding: var(--padding-100);
  background-color: var(--primary-color-white-500);
  border-top: var(--border-red-5px);
  border-bottom: var(--border-red-5px);
}

.continue-shopping-container {
  padding: var(--padding-200);
  background-color: var(--primary-color-red-500);
  text-align: center;
}

.continue-shopping-container a {
  padding: var(--padding-100);
  background-color: var(--primary-color-white-500);
  /* color: var(--primary-color-white-500); */
  font-size: 30px;
}
