.search {
  margin: var(--margin-200);
  padding: var(--padding-200);

  height: max-content;
  background-color: var(--primary-color-white-500);
  border: var(--border-red-2px);
}

.search_form {
  position: relative;
}

.search_input,
.search_btn {
  font-size: 1.5rem;
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
}

.search_btn {
  border: var(--border-red-2px);
}

.search_input,
.search_label {
  display: block;
  width: 50%;
}

.search_input {
  padding: 18px 5px 5px 5px;
  border: none;
}

.search_label {
  position: absolute;
  background-color: var(--primary-color-red-400);
  color: var(--primary-color-white-500);
  font-style: italic;
  font-size: 14px;
  padding: 0 5px;
}

.search_btn:hover {
  background-color: var(--primary-color-red-400);
}

.search_results__num,
.search_results__false {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color-red-500);
  font-size: 1.2rem;
}

.search_results__num {
  margin-top: var(--margin-200);
}

.search_results__false {
  text-align: center;
  padding: var(--padding-100);
  border: var(--border-red-2px);
  margin: var(--margin-200) 0;
}

.search_results {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; */
}

.search_results__container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;

  padding: var(--padding-100);
  border: var(--border-red-2px);
  margin: var(--margin-200) 0;
}

.search_results__card {
  border: var(--border-red-2px);
  color: var(--primary-color-red-500);
  /* max-width: 400px; */
  /* width: 100%; */
  margin: 0 auto;
  border-radius: 5px;
}

.search_results__card--title {
  font-size: 1.5rem;
}

.search_results__card--title,
.search_results__card--price {
  padding: 5px;
}

.search_results__card--more {
  padding: var(--padding-200) 0;
  background-color: var(--primary-color-red-500);
  text-align: center;
  font-size: 1.5rem;
}

.search_results__card--more a {
  color: var(--primary-color-white-500);
}

.search_results__card--more:hover {
  font-style: italic;
}

.search_results__card img {
  max-width: 100%;
  border-bottom: var(--border-red-2px);
}

@media only screen and (max-width: 565px) {
  .search_results__container {
    grid-template-columns: max-content;
  }

  .search_input,
  .search_btn {
    font-size: 20px;
  }

  .search_input {
    width: 70%;
  }
  .search_btn {
    width: 25%;
  }

  .search_results__card img {
    width: 150px;
    /* object-fit: cover; */
  }
  .search_results__card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }

  .search_results__card--img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-red-400);
    height: 100%;
    border-right: var(--border-red-2px);
  }

  .search_results__card--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-basis: 100%; */
    flex-grow: 1;
  }
}

@media only screen and (max-width: 440px) {
  .search_results__card--img img {
    width: 130px;
  }
}

@media only screen and (max-width: 420px) {
  .search {
    padding: var(--padding-100);
  }

  .search_input {
    width: 70%;
  }
  .search_btn {
    width: 28%;
  }
}

@media only screen and (max-width: 400px) {
  .search_results__card {
    padding: 0;
    padding-bottom: 0;
  }

  .search_results__card--img img {
    width: 110px;
  }
}

@media only screen and (max-width: 370px) {
  .search {
    padding-inline: 5px;
    margin: var(--margin-100);
  }

  .search_input,
  .search_btn {
    font-size: 18px;
  }
  .search_results__num,
  .search_results__false {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color-red-500);
    font-size: 18px;
  }

  .search_results__card--img img {
    width: 100px;
  }
}

@media only screen and (max-width: 350px) {
  .search_results__container {
    border: none;
    padding: 0;
  }

  .search_results__card--img img {
    width: 90px;
  }

  .search_results__card--title {
    font-size: 20px;
  }
}
