.customer-form-input-container {
  position: relative;
  margin: 0 auto;
}

.customer-form-input-container input {
  display: block;
  width: 100%;
  height: 4rem;
  color: var(--primary-color-red-500);
  margin-bottom: var(--margin-100);
  padding: var(--padding-100);
  font-size: 16px;
}

.customer-form-label {
  display: block;
  color: var(--primary-color-red-500);
  font-size: 18px;
  position: absolute;
  top: 21px;
  left: 15px;
  pointer-events: none;
  transition: all 0.1s;
}

.customer-container input:focus + .customer-form-label,
.customer-container input:not(:placeholder-shown) + .customer-form-label {
  font-size: 14px;
  top: 5px;
}

/* HIDES INPUT PLACEHOLDER */
.customer-form-input-container ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
.customer-form-input-container :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}
.customer-form-input-container ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}
.customer-form-input-container :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}
.customer-form-input-container input::placeholder {
  color: transparent;
}
