.search {
  margin: var(--margin-200);
  padding: var(--padding-200);
  grid-area: content;
  height: max-content;
  background-color: var(--primary-color-white-500);
  border: var(--border-red-2px);
}

.search_input,
.search_btn {
  font-size: 1.5rem;
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
  border: var(--border-red-2px);
}

.search_btn:hover {
  background-color: var(--primary-color-red-400);
}

.search_results__num {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color-red-500);
  font-size: 1.2rem;
  margin-top: var(--margin-100);
}

.search_results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  padding: var(--padding-100);
  border: var(--border-red-2px);
  margin: var(--margin-200) 0;
}

.search_results__card {
  border: var(--border-red-2px);
  color: var(--primary-color-red-500);
}

.search_results__card--title {
  font-size: 1.5rem;
}

.search_results__card--more {
  padding: var(--padding-200) 0;
  background-color: var(--primary-color-red-500);
  text-align: center;
  font-size: 1.5rem;
}

.search_results__card--more a {
  color: var(--primary-color-white-500);
}

.search_results__card--more:hover {
  font-style: italic;
}

.search_results__card img {
  width: 100%;
}
