.product {
  margin: var(--margin-500);
  display: grid;
  grid-template-areas: 'img card';
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

.product-img {
  margin: var(--margin-100);
  justify-self: end;
  height: max-content;
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: calc(var(--base-rem) * 50);
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: var(--padding-100);
}

.product,
.product-img img,
.product-card {
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
}

.product-card {
  --child-padding: var(--padding-100);

  justify-self: start;
  grid-area: card;
  padding: var(--padding-100);
  margin: var(--margin-500) var(--margin-100);
  color: var(--primary-color-red-500);

  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'pdesc'
    'pprice'
    'pform';
}

.product-card__title {
  position: absolute;
  grid-area: pdesc;
  top: -38px;
  left: 17px;
  background-color: var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
  padding: 5px var(--child-padding);
  border: 3px solid var(--primary-color-red-500);
}

.product-card__description {
  position: relative;
  grid-area: pdesc;
  border: 2px solid var(--primary-color-red-500);
  padding: var(--padding-300) var(--padding-100);
}

/* PRODUCT CARD PRICE  */

.product-card__price-container {
  grid-area: pprice;
  align-self: center;
  display: flex;
  margin: var(--margin-100) 0;
  padding: var(--padding-100) var(--child-padding);
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 2px solid var(--primary-color-red-500);
}

.product-card__price-container h4 {
  position: absolute;
  top: -12px;
  left: 12px;
  background-color: var(--primary-color-white-500);
  padding: 2px;
}

.product-card__price,
.product-card__price--new,
.product-card__price--old,
.product-card__price--special {
  font-size: var(--font-size-200);
  font-weight: bold;
}

.product-card__price--old {
  text-decoration: line-through;
}

.product-card__price--special {
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
  text-transform: uppercase;
  display: block;
  padding: 5px;
}

/* PRODUCT CARD FORM */

.product-card__form {
  grid-area: pform;
}

/* .product-card h3 {
  margin: var(--margin-100) 0;
} */

.product-card__add-to-cart {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.product-card__add-to-cart--subtotal {
  position: absolute;
  display: block;
  padding: 5px;
  left: 28px;
  top: -12px;
  font-size: 16px;
  background-color: var(--primary-color-white-500);
  border: 2px solid var(--primary-color-red-500);
}

.product-card__add-to-cart--btn {
  display: block;
  width: 100%;
  color: var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  border: 5px solid var(--primary-color-red-500);
  font-size: 1.5rem;
  padding: var(--padding-200);
  box-shadow: 2px 2px 2px black;
  text-transform: capitalize;
  cursor: pointer;
}

.product-card__add-to-cart--btn:hover {
  background-color: var(--primary-color-red-400);
}

.product-card__add-to-cart--btn:disabled {
  cursor: not-allowed;
}

.product_select_label {
  overflow: visible;
  position: relative;
  color: var(--primary-color-red-500);
  display: inline-block;
  border: var(--border-red-2px);
  padding: var(--padding-100);
  border-radius: 25px;
  width: calc(var(--base-rem) * 9);
  text-align: center;
  transition: all 0.5s;
}

.product_select_input {
  visibility: hidden;
  display: none;
}

.product_select_input:checked + label {
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
}

.disabled > label::after,
.option_disabled > label::after {
  position: absolute;
  content: 'unavaliable';
  border: var(--border-red-2px);
  background-color: black;
  color: var(--primary-color-white-500);
  font-size: 12px;
  top: 90%;
  left: 14%;
  padding: 2px;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 0.2s ease-in forwards;
  z-index: 10;
}

.option-container {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-card fieldset {
  border-color: var(--primary-color-red-500);
  color: var(--primary-color-red-500);
  margin: 0 0 var(--margin-100) 0;
  width: 100%;
}

.quantity-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
  margin: var(--margin-200) 0;
}

.quantity-container p {
  display: block;
  padding: 2px;
  position: absolute;
  left: 33%;
  top: -22%;
  font-size: 16px;
  background-color: var(--primary-color-white-500);
}

.quantity-container button {
  background-color: var(--primary-color-red-500);
  outline: none;
  border: none;
  width: 15%;
  font-size: var(--font-size-300);
  color: var(--primary-color-white-500);
  border: 2px solid var(--primary-color-white-500);
  transition: all 0.2s;
  cursor: pointer;
}

.quantity-container button:hover {
  border-color: var(--primary-color-red-500);
  background-color: var(--primary-color-white-500);
  color: var(--primary-color-red-500);
}

.quantity-input {
  font-size: var(--font-size-200);
  border: 2px solid var(--primary-color-red-500);
  color: var(--primary-color-red-500);
  text-align: center;
  width: 40%;
  background-color: var(--primary-color-white-500);
  padding: var(--padding-100);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
    top: 69%;
  }
}

@media only screen and (max-width: 950px) {
  .product {
    margin: var(--margin-500) var(--margin-200);
  }
}

@media only screen and (max-width: 790px) {
  .product {
    display: grid;
    grid-template-areas:
      'img'
      'card';
    grid-template-columns: 100%;
  }

  .product-img {
    justify-self: center;
  }

  .product-card {
    margin: var(--margin-200) var(--margin-100);
  }

  .product-card__price-container {
    justify-content: flex-start;
  }

  .product-card__price-container p {
    margin-right: var(--margin-200);
  }
}

@media only screen and (max-width: 440px) {
  .product {
    margin: var(--margin-300) var(--margin-100);
  }
}

@media only screen and (max-width: 410px) {
  .product {
    margin: var(--margin-200) 5px;
  }

  .product-card {
    --child-padding: 5px;
    margin: var(--margin-500) 5px;
    padding: var(--padding-100) 5px;
  }

  .option-container {
    gap: 5px;
  }
}

@media only screen and (max-width: 370px) {
  .product-card {
    margin: var(--margin-500) 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .product-card fieldset {
    padding-left: var(--child-padding);
    padding-right: var(--child-padding);
  }
}
