.nav-drawer-container {
  display: none;
}

.nav-bar,
.nav-drawer,
.nav-drawer-container__show {
  /* overflow: hidden; */
  /* grid-area: nav; */
  display: flex;
  background-color: var(--primary-color-red-400);
  border-bottom: var(--border-red-5px);
  list-style: none;
}

.nav-bar {
  justify-content: space-evenly;
  padding: var(--padding-100);
}

.nav-drawer {
  /* display: none; */
  position: absolute;
  height: calc(100dvh - var(--nav-drawer-offset));
  padding: var(--padding-100) 0;
  width: 100vw;
  border-right: var(--border-red-5px);
  left: -100%;
}

.nav-drawer-hide {
  animation: slideOut 2s forwards;
  /* left: -100%; */
}

.nav-drawer-show {
  animation: slideIn 2s forwards;
  /* left: 100%; */
}

@keyframes slideIn {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes slideOut {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

.nav-drawer-container__show {
  padding: var(--padding-100);
}

.nav-bar ul,
.nav-drawer ul {
  list-style: none;
}

.nav-bar ul {
  flex-basis: 80%;
  display: flex;
  justify-content: space-evenly;
}

.nav-drawer ul {
  flex: 0 0 40%;
}

.nav-drawer div {
  margin: 0 auto;
}

.nav-bar__link-container {
  flex: 0 1 20%;
}

.nav-bar__btn,
.nav-bar__btn--show {
  display: block;
  font-size: var(--font-size-300);
  padding: var(--padding-100);
  border: 3px solid var(--primary-color-red-500);
  background-color: var(--primary-color-white-500);
  color: var(--primary-color-red-500);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.nav-bar__btn--show {
  height: 4rem;
  width: 4rem;
}

.nav-drawer .nav-bar__btn {
  margin: var(--margin-100);
  font-size: 20px;
}

.nav-bar__btn--open span,
.nav-bar__btn--close span {
  display: block;
  width: 90%;
  height: 5px;
  background-color: var(--primary-color-red-400);
}

.nav-bar__btn--open span:not(:first-of-type) {
  margin-top: 5px;
}

.nav-bar__btn--close {
  display: block;
  position: relative;
  width: 100%;
}

.nav-bar__btn--close span {
  position: absolute;
  top: 25px;
}

.nav-bar__btn--close span:first-of-type {
  rotate: 45deg;
}

.nav-bar__btn--close span:last-of-type {
  rotate: 135deg;
}

.btn__active,
.nav-bar__btn:hover {
  border: 3px solid var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
}

.nav-bar__btn:active,
.btn__active {
  box-shadow: none;
  transform: translateY(2px);
}

@media only screen and (max-width: 800px) {
  .nav-bar,
  .nav-bar ul {
    justify-content: space-between;
  }

  .nav-bar ul {
    padding: 0 5px;
    flex-shrink: 1;
  }

  .nav-bar__link-container {
    flex: 0 1 20%;
  }

  .nav-bar__btn {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .nav-bar ul {
    flex-basis: 90%;
  }
}

@media only screen and (max-width: 490px) {
  .nav-bar {
    display: none;
  }

  .nav-drawer-container {
    display: block;
  }
}
