.collection-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-white-500);
  border-bottom: var(--border-red-5px);
  padding: var(--padding-100);
}

.collection-nav__btn-container {
  align-self: stretch;
  position: relative;
  flex-basis: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 2; */
}

.collection-nav__btn-shadow--r {
  box-shadow: 20px 0px 5px 0px var(--primary-color-white-500);
}

.collection-nav__btn-shadow--l {
  box-shadow: -20px 0px 5px 0px var(--primary-color-white-500);
}

.collection-nav__btn {
  display: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 15px;
  border-radius: 50%;
  box-shadow: none;
  border: var(--border-red-2px);
  background-color: var(--primary-color-red-400);
  transition: all 0.3s;
}

.collection-nav__btn:hover {
  background-color: var(--primary-color-red-500);
}

.collection-nav__link-container {
  /* height: 200px; */
  /* padding: 0 var(--padding-300); */
  flex-basis: 60%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.collection-nav ul li {
  padding: 10px 0;
}

.collection-nav ul li a {
  display: block;
  width: max-content;
  font-size: var(--font-size-200);
  color: var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  text-align: center;
  border: 3px solid var(--primary-color-red-500);
  padding: var(--padding-100);
  margin: 0 5px;
  border-radius: 5px;
}

.collection-nav ul li a:link,
.collection-nav ul li a:visited {
  color: var(--primary-color-white-500);
}

.collection-grid {
  /* COLLECTION VARIABLES */
  --collection-grid-gap: var(--padding-100);
  --product-card-width: 250px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--product-card-width), 1fr));
  grid-auto-rows: auto;
  gap: var(--collection-grid-gap);
  padding: var(--collection-grid-gap);
  align-items: center;
  justify-items: center;
}

.product-card {
  display: grid;
  grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  width: 100%;
  max-width: var(--product-card-width);
  background-color: var(--primary-color-red-400);
  border: var(--border-red-5px);
  height: 100%;
}

.product-card__header {
  background-color: var(--primary-color-white-500);
  display: flex;
  align-items: center;
  padding: var(--padding-100);
  border-bottom: var(--border-red-5px);
  color: var(--primary-color-red-500);
}

.product-card__header h4 {
  font-size: clamp(22px, 3vw, 26px);
}

.product-card__icon {
  margin-left: auto;
  /* icon is png so cant be color normal way. filter changes color used https://codepen.io/sosuke/pen/Pjoqqp to generate filter */
  filter: invert(8%) sepia(68%) saturate(5842%) hue-rotate(356deg) brightness(103%) contrast(93%);
}

.product-card__icon img {
  height: 25px;
  width: 25px;
}

.product-card__img,
.product-card__img img {
  border-radius: 50%;
  background-color: var(--primary-color-white-500);
}

.product-card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 5px auto;
  padding: var(--padding-100);
  border: var(--border-red-5px);
}

.product-card__description {
  height: 180px;
  font-size: 1rem;
  background-color: var(--primary-color-red-500);
  border: 5px solid var(--primary-color-white-500);
  color: var(--primary-color-white-500);
  padding: 0.5rem;
  margin: var(--margin-100);
  overflow: scroll;
}

.product-card__additional {
  border-top: var(--border-red-5px);
  background-color: var(--primary-color-white-500);
  padding: var(--padding-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color-red-500);
}

.product-card__additional a,
.product-card__additional p {
  font-size: var(--font-size-200);
  text-decoration: underline;
  font-weight: bolder;
}

.product-card__additional a:hover {
  font-style: italic;
}

@media only screen and (max-width: 570px) {
  .collection-grid {
    --collection-grid-gap: var(--padding-100);
  }
}

@media only screen and (max-width: 540px) {
  .collection-grid {
    --collection-grid-gap: var(--padding-100);
    --product-card-width: 100%;

    grid-template-columns: 100%;
  }

  .product-card {
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-columns: 1fr 2fr;
    gap: 2px;
  }

  .product-card__img {
    align-self: center;
    padding: 2px;
    width: 98%;
  }

  .product-card__description {
    margin: 2px;
    height: 140px;
    align-self: center;
  }

  .product-card__header,
  .product-card__additional {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (max-width: 400px) {
  .product-card__description {
    font-size: 14px;
    height: 100px;
    border-width: 2px;
  }
}
