.nav-bar {
  grid-area: nav;
  display: flex;
  background-color: var(--primary-color-red-400);
  border-bottom: var(--border-red-5px);
  justify-content: space-evenly;
  padding: 1rem;
}

.nav-bar ul {
  flex-basis: 80%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-bar__link-container {
  position: relative;
}

.nav-bar__link-container:not(:first-of-type)::before {
  position: absolute;
  content: '';
  width: 50%;
  border-bottom: 3px solid var(--primary-color-white-500);
  top: 50%;
  right: 115%;
}

.nav-bar__btn {
  display: block;
  font-family: var(--font-dancing-script);
  font-size: 3rem;
  padding: 1rem;
  border: 3px solid var(--primary-color-red-500);
  background-color: var(--primary-color-white-500);
  color: var(--primary-color-red-500);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  transition: all 0.2s;
  cursor: pointer;
  width: 15rem;
  text-align: center;
}

.btn__active,
.nav-bar__btn:hover {
  border: 3px solid var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
}

.nav-bar__btn:active,
.btn__active {
  box-shadow: none;
  transform: translateY(2px);
}

.nav-bar__link-container::marker {
  font-stretch: 300%;
  color: green;
  transform: scale(0.5, 1);
}
