.header {
  background-color: var(--primary-color-white-500);
  border-bottom: var(--border-red-5px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-container {
  text-align: center;
}

.heading__primary {
  font-size: var(--font-size-800);
  color: var(--primary-color-red-500);
  border-bottom: var(--border-red-5px);
  font-weight: bolder;
  -webkit-text-stroke: 1.5px var(--secondary-color-gray);
  text-shadow: 2px 2px 3px var(--secondary-color-black);
  padding: 0 var(--padding-200);
}

.heading__secondary {
  font-size: var(--font-size-400);
  margin: var(--margin-100) 0;
  font-weight: lighter;
  color: var(--primary-color-red-500);
  font-family: var(--font-dancing-script);
}

.heading__tertiary {
  font-family: var(--font-dancing-script);
  font-size: var(--font-size-300);
  color: var(--primary-color-red-500);
}

.icon__header {
  margin: 0 var(--margin-100);
  display: inline-block;
  width: max-content;
  /* icon is png so cant be color normal way. filter changes color used https://codepen.io/sosuke/pen/Pjoqqp to generate filter */
  filter: invert(12%) sepia(81%) saturate(3552%) hue-rotate(350deg) brightness(92%) contrast(103%);
}

.icon__header img {
  margin: 0 var(--margin-100);
  width: 60px;
}
