.home {
  display: flex;
  flex-direction: column;
}

.home__heading {
  align-self: center;
  background-color: var(--main-color-white);
  border: var(--border-red-5px);
  padding: 0.5rem 40rem;
  border-radius: 1rem;
  margin: 3rem;
  box-shadow: 2px 2px 5px var(--shadow-color-black);
  font-size: 6rem;
}

.home__img {
  align-self: center;
  /* width: 40%; */
  border-radius: 100%;
  border: var(--border-red-5px);
  padding: 1rem;
  background-color: var(--secondary-color-red-light);
  box-shadow: 2px 2px 5px var(--shadow-color-black);
}

.home__text {
  align-self: center;
  justify-self: flex-end;
  font-size: 3rem;
  font-family: var(--font-dancing-script);
  background-color: var(--main-color-white);
  border: var(--border-red-5px);
  padding: 0.5rem 6rem;
  border-radius: 1rem;
  margin: 4rem;
  box-shadow: 2px 2px 5px var(--shadow-color-black);
  color: var(--main-color-red);
}
