.product__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-500);
}

.product {
  width: 80%;
  height: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'img card';
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

.product-img {
  margin: var(--margin-100);
  justify-self: end;
  height: max-content;
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: calc(var(--base-rem) * 50);
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: var(--padding-100);
}

.product,
.product-img img,
.product-card {
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
}

.product-card {
  margin: var(--margin-100);
  width: 90%;
  justify-self: start;
  grid-area: card;
  /* width: 50%; */
  border-radius: 100px;
  padding: var(--padding-500);
  margin: var(--margin-200) 0;
}

.product-card h3 {
  margin: var(--margin-200) 0;
}

.product-card p {
  font-size: var(--font-size-200);
  margin-bottom: var(--margin-100);
}

.product-card__price {
  font-size: var(--font-size-200);
  color: var(--primary-color-red-500);
  font-weight: bold;
}

.product-card__add-to-cart {
  display: block;
  color: var(--primary-color-red-500);
  margin: 1rem auto;
  background-color: var(--primary-color-white-500);
  border: 5px solid var(--primary-color-red-500);
  font-size: 1.5rem;
  padding: var(--padding-200);
  border-radius: 100px;
  box-shadow: 2px 2px 2px black;
}
