.customer-navigation {
  background-color: var(--primary-color-white-500);
  border-bottom: var(--border-red-5px);
  width: 100%;
}

.customer-navigation > ul {
  list-style: none;
  display: flex;
}

.customer-navigation > ul > li:first-of-type {
  margin-left: auto;
}

.customer-navigation > ul > li {
  display: flex;
  /* overflow: hidden; */
  height: max-content;
  position: relative;
  cursor: pointer;
  margin: 0 5px;
  /* icon is png so cant be color normal way. filter changes color used https://codepen.io/sosuke/pen/Pjoqqp to generate filter */
}

.customer-navigation__icon {
  pointer-events: none;
  filter: invert(12%) sepia(81%) saturate(3552%) hue-rotate(350deg) brightness(92%) contrast(103%);
}

.customer-navigation li * {
  /* pointer-events: none; */
}

.customer-navigation > ul > li:hover .customer-navigation__icon {
  filter: invert(37%) sepia(33%) saturate(4315%) hue-rotate(336deg) brightness(104%) contrast(110%);
}

.customer-navigation li img {
  pointer-events: none;
  height: 32px;
  width: 32px;
}

.customer-navigation__content {
  display: none;
  width: max-content;
  padding: var(--padding-200);
  position: absolute;
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
  top: 100%;
  right: 0%;
  z-index: 10000;
}
.customer-navigation__content div {
  display: flex;
}

.customer-navigation__account--links {
  list-style: none;
  font-size: 18px;
  padding: var(--padding-100);
}

.customer-navigation__account--links li {
  color: var(--primary-color-red-500);
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px;
  width: max-content;
}

.customer-navigation__account--links li:hover {
  background-color: var(--primary-color-red-500);
}

.customer-navigation__account--links li:hover a {
  color: var(--primary-color-white-500) !important;
}

.customer-navigation__account--links li:first-of-type {
  margin-bottom: 5px;
}

.customer-navigation__content--search form {
  display: flex;
  flex-direction: column;
}

.customer-navigation__content input {
  padding: var(--padding-100);
  font-size: 16px;
}

.customer-navigation__form--search {
  color: var(--primary-color-red-500);
  background-color: var(--primary-color-white-500);
  border: var(--border-red-2px);
  border-color: var(--primary-color-red-400);
}

.customer-navigation__form--search:focus {
  border-color: var(--primary-color-red-500);
  outline: none;
}

.customer-navigation__form--search::placeholder {
  color: var(--primary-color-red-400);
}

.customer-navigation__form--submit {
  color: var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  border: var(--border-red-2px);
  border-color: transparent;
  /* border: 5px solid var(--primary-color-red-500); */
  padding: var(--padding-200);
  /* box-shadow: 2px 2px 2px black; */
  text-transform: capitalize;
  background-clip: padding-box;
  cursor: pointer;
}

.customer-navigation__form--submit:hover {
  border-color: var(--primary-color-red-500);
}
