.cart-container {
  width: 80%;
  background-color: var(--primary-color-white-500);
  margin: var(--margin-200) auto;
  padding: var(--padding-200);
  border: var(--border-red-5px);
}

.cart-title {
  margin-bottom: var(--margin-100);
  text-decoration: underline;
}

.product-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: max-content;
}

.product-container--row {
  display: grid;
  grid-template-columns: max-content 2fr 1fr 2fr 1fr;
  gap: 10px;
  margin-bottom: var(--margin-100);
  color: var(--primary-color-white-500);
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-200);
  border: var(--border-red-2px);
  padding: 5px;
}

.product-container--row > * {
  height: 100%;
  vertical-align: middle;
  background-color: var(--primary-color-red-500);
}
