footer {
  padding: 1rem;
  background-color: var(--primary-color-white-500);
  border-top: var(--border-red-5px);
}

.footer__header {
  text-align: center;
  margin: 0.5rem;
}

.icon__info {
  margin: 0 auto;
  width: max-content;
  color: var(--primary-color-red-500);
  font-family: var(--font-dancing-script);
  font-size: 2rem;
}
