.customer-container {
  /* background-color: aliceblue; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-form-container {
  text-align: center;
  width: 60%;
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
  margin: var(--margin-300);
  padding: var(--padding-200);
}

.customer-form-container h2 {
  text-align: center;
}

.customer-form-input-container input,
.customer-address-form-input-container input {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 4rem;
  color: var(--primary-color-red-500);
  margin-bottom: var(--margin-100);
  padding: var(--padding-100);
  font-size: 16px;
}

.customer-address-form-input-container input {
  width: 100%;
}

.customer-address-form-input-container select {
  appearance: none;
  display: inline-block;
  height: 4rem;
  width: 100%;
  color: var(--primary-color-red-500);
  font-size: 16px;
  margin-bottom: var(--margin-100);
  padding: var(--padding-100);
}

.customer-form-input-container,
.customer-address-form-input-container {
  position: relative;
}

.customer-form-label {
  display: block;
  color: var(--primary-color-red-500);
  font-size: 18px;
  /* font-weight: bold; */
  position: absolute;
  top: 21px;
  left: 22%;
  pointer-events: none;
  transition: all 0.1s;
}

.customer-address-form-label {
  text-transform: capitalize;
  display: block;
  color: var(--primary-color-red-500);
  font-size: 18px;
  /* font-weight: bold; */
  position: absolute;
  top: 21px;
  left: 12px;
  pointer-events: none;
  transition: all 0.1s;
}

.customer-address-form-label__select,
.customer-address-form-label__default {
  text-transform: capitalize;
  color: var(--primary-color-red-500);
  font-size: 18px;
  text-align: start;
  display: block;
  margin-bottom: 5px;
  /* margin-right: auto; */
}

.customer-container input:focus + .customer-form-label,
.customer-container input:focus + .customer-address-form-label,
.customer-container input:not(:placeholder-shown) + .customer-form-label,
.customer-container input:not(:placeholder-shown) + .customer-address-form-label {
  font-size: 14px;
  top: 5px;
}

.customer-btn {
  display: block;
  margin: 0 auto;
  width: 60%;
  color: var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  border: var(--border-red-2px);
  border-color: transparent;
  /* border: 5px solid var(--primary-color-red-500); */
  font-size: var(--font-size-200);
  padding: var(--padding-200);
  /* box-shadow: 2px 2px 2px black; */
  text-transform: capitalize;
  cursor: pointer;
  background-clip: padding-box;
}

.customer-btn:hover {
  border-color: var(--primary-color-red-500);
}

.customer-form-container__create {
  color: var(--primary-color-red-500);
  text-decoration: underline !important;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.errors {
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
  padding: var(--padding-100);
  width: 60%;
  margin: var(--margin-100) auto;
}

.errors ul {
  list-style: none;
  font-weight: bold;
}

.error-heading {
  text-align: center;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}
input::placeholder {
  color: transparent;
}

/* CUSTOMER DASHBOARD STYLES */
.customer-dashboard {
  width: 80%;
  margin: var(--margin-100) 0;
  padding: var(--padding-200);
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
}

.customer-container__link {
  color: var(--primary-color-red-500);
  text-decoration: underline !important;
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  /* text-align: center; */
  font-weight: bold;
  margin-top: 5px;
}

.customer-dashboard__container {
  margin: var(--margin-100) 0;
  padding: var(--padding-100);
  border: var(--border-red-2px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.customer-dashboard__orders,
.customer-dashboard__account {
  margin: var(--margin-100) 0;
  padding: var(--padding-100);
  /* border: var(--border-red-2px); */
}

.customer-dashboard__account {
  margin-right: auto;
}

.customer-dashboard__orders {
  flex-basis: 60%;
}

.customer-address {
  border: var(--border-red-2px);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--primary-color-red-500);
  padding: var(--padding-100);
  margin-bottom: var(--margin-100);
}

.customer-addresses-container {
  padding: var(--padding-100);
  margin: var(--margin-100) auto;
  border: var(--border-red-2px);
  width: 60%;
  text-align: center;
}

.customer-address-btn {
  width: 100%;
}

.form-hide {
  display: none;
}

.customer-address-form {
  display: none;
}

.customer-default-address {
  background-color: var(--primary-color-red-400);
  color: var(--primary-color-white-500);
}

.customer-default-address h3 {
  margin: var(--margin-100) 0;
  text-decoration: underline;
}

.customer-form-recover {
  display: none;
}

@media only screen and (max-width: 970px) {
  .customer-form-container {
    width: 80%;
  }
}

@media only screen and (max-width: 630px) {
  .customer-form-container {
    width: 90%;
  }

  .customer-form-input-container input,
  .customer-address-form-input-container input {
    width: 80%;
  }

  .customer-form-label {
    left: 13%;
  }
}

@media only screen and (max-width: 450px) {
  .customer-form-container {
    padding: var(--padding-100);
    margin: var(--margin-200);
  }

  .customer-form-input-container input,
  .customer-address-form-input-container input {
    width: 90%;
  }

  .customer-form-label {
    left: 9%;
  }
}

@media only screen and (max-width: 370px) {
  .customer-dashboard {
    width: 95%;
  }

  .customer-heading__primary {
    font-size: var(--font-size-300);
  }

  .customer-heading__secondary {
    font-size: 25px;
  }

  .customer-container__link {
    font-size: 14px;
  }
}
