.loader {
  display: none;
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary-color-red-500);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #ff3d00;
  width: 3px;
  height: 15px;
  transform: translateX(-50%);
}
