.grid__about-page {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  grid-template-areas: 'img content-text';
  align-items: center;
}

.about__img--container {
  grid-area: img;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about__img {
  margin: var(--margin-200) 0;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: calc(var(--padding-100) / 2);
  border: var(--border-red-5px);
  background-color: var(--primary-color-white-500);
  box-shadow: 2px 2px 5px var(--secondary-color-black);
}

.about__text {
  grid-area: content-text;
  background-color: var(--primary-color-white-500);
  width: 80%;
  height: max-content;
  margin: var(--margin-200) auto;
  border: var(--border-red-5px);
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  padding: var(--padding-300);
}

.about__text p {
  font-size: calc(var(--base-rem) * 3);
  font-family: var(--font-dancing-script);
  color: var(--primary-color-red-500);
  padding: var(--padding-100);
  border: 1px dashed var(--primary-color-red-500);
  vertical-align: middle;
}
