.collection-nav {
  background-color: var(--main-color-white);
  border-bottom: var(--border-red-5px);
  padding: 1rem;
}

.collection-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.collection-nav ul li a {
  display: block;
  width: 9rem;
  font-size: 2rem;
  color: var(--main-color-white);
  background-color: var(--main-color-red);
  text-align: center;
  border: 3px solid var(--main-color-red);
  padding: 1rem;
  border-radius: 5px;
}

.collection-nav ul li a:link,
.collection-nav ul li a:visited {
  color: var(--main-color-white);
}
