.grid__about-page {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    'title title'
    'img content-text';
  align-items: center;
}

.about__heading {
  grid-area: title;
  width: 80%;
  text-align: center;
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
  border-radius: 10px;
  margin: var(--margin-300) auto;
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  font-size: var(--font-size-600);
}

.about__img--container {
  grid-area: img;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about__img {
  margin: var(--margin-200) 0;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: calc(var(--padding-100) / 2);
  border: var(--border-red-5px);
  background-color: var(--primary-color-white-500);
  box-shadow: 2px 2px 5px var(--secondary-color-black);
}

.about__text {
  grid-area: content-text;
  background-color: var(--primary-color-white-500);
  width: 80%;
  height: max-content;
  margin: var(--margin-200) auto;
  border: var(--border-red-5px);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  padding: var(--padding-300);
}

.about__text p {
  font-size: var(--font-size-300);
  font-family: var(--font-dancing-script);
  color: var(--primary-color-red-500);
  padding: var(--padding-100);
  border: 1px dashed var(--primary-color-red-500);
  vertical-align: middle;
}

@media only screen and (max-width: 980px) {
  .grid__about-page {
    grid-template-columns: 40% 60%;
  }

  .about__text {
    width: 90%;
    margin-inline: var(--margin-100) var(--margin-100);
  }

  .about__text p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
  .grid__about-page {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
      'title'
      'content-text'
      'img';
    align-items: center;
    justify-items: center;
  }

  .about__img--container {
    /* width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .about__img {
    height: 200px;
    width: 50%;
    margin: 0 2%;
  }
}

@media only screen and (max-width: 480px) {
  .about__heading {
    font-size: var(--font-size-500);
    width: 90%;
  }

  .about__text {
    padding: var(--padding-100);
  }

  .about__text p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .about__text {
    width: 95%;
  }

  .about__text p {
    padding: 5px;
  }
}

@media only screen and (max-width: 355px) {
  .about__img {
    height: 150px;
  }
}
