.nav-bar {
  grid-area: nav;
  display: flex;
  background-color: var(--secondary-color-red-light);
  border-bottom: var(--border-red-5px);
  justify-content: space-evenly;
}

.nav-bar ul {
  flex-basis: 80%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-bar__link-container {
  position: relative;
}

.nav-bar__link-container:not(:first-of-type)::before {
  position: absolute;
  content: '';
  /* display: flex; */
  width: 8rem;
  border-bottom: 3px solid var(--main-color-white);
  top: 50%;
  right: 140%;
}

.nav-bar__btn {
  display: block;
  font-family: var(--font-dancing-script);
  font-size: 3rem;
  padding: 1rem 3rem;
  border: 3px solid var(--main-color-red);
  background-color: var(--main-color-white);
  margin: 0.4rem 0;
  color: var(--main-color-red);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--shadow-color-black);
  transition: all 0.2s;
  cursor: pointer;
  height: max-content;
}

.btn__active,
.nav-bar__btn:hover {
  border: 3px solid var(--main-color-white);
  background-color: var(--main-color-red);
  color: var(--main-color-white);
}

.nav-bar__btn:active,
.btn__active {
  box-shadow: none;
  transform: translateY(2px);
}

.nav-bar__link-container::marker {
  font-stretch: 300%;
  color: green;
  transform: scale(0.5, 1);
}
