.customer-navigation {
  background-color: var(--primary-color-white-500);
  border-bottom: var(--border-red-5px);
  width: 100%;
  position: relative;
}

.customer-navigation > ul {
  list-style: none;
  display: flex;
}

.customer-navigation > ul > li:first-of-type {
  margin-left: auto;
}

.customer-navigation > ul > li {
  display: flex;
  height: max-content;
  /* position: relative; */
  cursor: pointer;
  margin: 0 5px;
  /* overflow-x: hidden; */
}

.customer-navigation__icon {
  /* icon is png so cant be color normal way. filter changes color used https://codepen.io/sosuke/pen/Pjoqqp to generate filter */
  pointer-events: none;
  filter: invert(12%) sepia(81%) saturate(3552%) hue-rotate(350deg) brightness(92%) contrast(103%);
}

.customer-navigation > ul > li:hover .customer-navigation__icon {
  filter: invert(37%) sepia(33%) saturate(4315%) hue-rotate(336deg) brightness(104%) contrast(110%);
}

.customer-navigation li img {
  pointer-events: none;
  height: 32px;
  width: 32px;
}

.customer-navigation__content {
  cursor: default;
  display: none;
  width: 50%;
  padding: var(--padding-200);
  position: absolute;
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
  top: 100%;
  right: -0.5%;
  z-index: 10000;
  animation: slidein 1s ease-out forwards;
}

.customer-navigation__account--links {
  list-style: none;
  font-size: 18px;
  padding: var(--padding-100);
}

.customer-navigation__account--links li {
  color: var(--primary-color-red-500);
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px;
  width: max-content;
}

.customer-navigation__account--links li:hover {
  background-color: var(--primary-color-red-500);
}

.customer-navigation__account--links li:hover a {
  color: var(--primary-color-white-500) !important;
}

.customer-navigation__account--links li:first-of-type {
  margin-bottom: 5px;
}

.customer-navigation__content--search form {
  display: flex;
  flex-direction: column;
}

.customer-navigation__content input {
  padding: var(--padding-100);
  font-size: 16px;
}

.customer-navigation__form--search {
  color: var(--primary-color-red-500);
  background-color: var(--primary-color-white-500);
  border: var(--border-red-2px);
  border-color: var(--primary-color-red-400);
}

.customer-navigation__form--search:focus {
  border-color: var(--primary-color-red-500);
  outline: none;
}

.customer-navigation__form--search::placeholder {
  color: var(--primary-color-red-400);
}

.customer-navigation__form--submit {
  color: var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  border: var(--border-red-2px);
  border-color: transparent;
  padding: var(--padding-200);
  text-transform: capitalize;
  background-clip: padding-box;
  cursor: pointer;
}

.customer-navigation__form--submit:hover {
  border-color: var(--primary-color-red-500);
}

/* CUSTOMER NAVIGATION CART TAB */

.cart-product-card {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(2, max-content);
  justify-items: center;
  padding: 5px;
  justify-content: space-between;
  border: var(--border-red-2px);
  column-gap: 5px;
  color: var(--primary-color-red-500);
  font-size: 18px;
  margin-bottom: var(--margin-100);
  /* background-color: var(--primary-color-red-400); */
}

.cart-heading {
  margin-bottom: var(--margin-100);
  text-decoration: underline;
  text-transform: capitalize;
}

.cart-product-card > div {
  width: 100%;
  border: var(--border-red-2px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--primary-color-white-500); */
}

.cart-product-card__quantity input {
  width: 60%;
  height: 90%;
  text-align: center;
  background-color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
  /* background-color: black; */
}

.cart-product-card__quantity input::placeholder {
  color: hotpink;
}

.cart-product-card__refresh,
.cart-product-card__remove {
  cursor: pointer;
  background-color: var(--primary-color-red-400);
  color: var(--primary-color-white-500);
  /* rotate: 5deg; */
}

.cart-product-card__refresh:hover,
.cart-product-card__remove:hover {
  animation: tilt 0.5s;
}

.cart-product-card__remove {
  grid-column: 4 / span 1;
}

.cart-product-card__price {
  border-top: none;
  grid-column: 2 / span 1;
}

@keyframes tilt {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: -5deg;
  }

  50% {
    rotate: 0deg;
  }

  75% {
    rotate: 5deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes slidein {
  0% {
    right: -200%;
  }

  100% {
    right: -0.5%;
  }
}

@media only screen and (max-width: 390px) {
  /* .customer-navigation__content {
    position: fixed;
    width: 80vw;
    top: 231px;
    left: 0;
    right: 0;
    margin: 0 auto;
  } */
}

@media only screen and (max-width: 360px) {
  .customer-navigation__content {
    top: 211px;
  }
}
