.header {
  background-color: var(--primary-color-white-500);
  border-bottom: var(--border-red-5px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.header-container {
  text-align: center;
  flex-basis: 45%;
}

.header-container h1 {
  display: flex;
  flex-direction: column;
}

.icon__header {
  margin: 0 var(--margin-100);
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  /* icon is png so cant be color normal way. filter changes color used https://codepen.io/sosuke/pen/Pjoqqp to generate filter */
  filter: invert(12%) sepia(81%) saturate(3552%) hue-rotate(350deg) brightness(92%) contrast(103%);
}

.icon__header img {
  margin: 0 var(--margin-100);
  width: 60px;
}

@media only screen and (max-width: 970px) {
  .header-container {
    flex-shrink: 0;
    flex-basis: 60%;
  }

  .icon__header {
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-basis: 15%;
  }
}

@media only screen and (max-width: 780px) {
  .header-container {
    flex-basis: 70%;
  }

  .icon__header {
    flex-basis: 10%;
  }
}

@media only screen and (max-width: 670px) {
  .header-container h1 {
    font-size: var(--font-size-700);
  }
}

@media only screen and (max-width: 670px) {
  .header-container h1 {
    font-size: var(--font-size-600);
  }
}

@media only screen and (max-width: 520px) {
  .header-container h1 {
    font-size: var(--font-size-500);
  }

  .header-container h2 {
    font-size: var(--font-size-300);
  }
}

@media only screen and (max-width: 450px) {
  .header-container {
    flex-basis: 60%;
  }

  .header-container h1 {
    border-bottom: var(--border-red-2px);
    padding: var(--padding-100) 0;
  }

  .icon__header img {
    margin: 0 calc(var(--margin-100) / 2);
  }
}

@media only screen and (max-width: 360px) {
  .header-container h1 {
    font-size: var(--font-size-400);
  }
}
