.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__heading {
  width: 80%;
  text-align: center;
  align-self: center;
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
  border-radius: 10px;
  margin: var(--margin-300);
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  font-size: var(--font-size-600);
}

.home__img {
  align-self: center;
  border-radius: 100%;
  border: var(--border-red-5px);
  padding: var(--padding-100);
  background-color: var(--primary-color-red-400);
  box-shadow: 2px 2px 5px var(--secondary-color-black);
}

.home__text {
  width: 80%;
  text-align: center;
  font-size: var(--font-size-300);
  background-color: var(--primary-color-white-500);
  border: var(--border-red-5px);
  padding: calc(var(--padding-100) / 2) var(--padding-600);
  border-radius: 10px;
  margin: var(--margin-300);
  box-shadow: 2px 2px 5px var(--secondary-color-black);
  color: var(--primary-color-red-500);
}

@media only screen and (max-width: 640px) {
  .home__heading,
  .home__text {
    width: 90%;
  }

  .home__img {
    margin: var(--margin-300);
    overflow: hidden;
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .home__img {
    width: 400px;
  }

  .home__heading,
  .home__text {
    margin: var(--margin-200);
  }
}

@media only screen and (max-width: 430px) {
  .home__text {
    padding: var(--padding-100);
  }
}

@media only screen and (max-width: 380px) {
  .home__heading {
    font-size: var(--font-size-500);
  }

  .home__img {
    width: 300px;
  }
}

@media only screen and (max-width: 352px) {
  .home__img {
    width: 400px;
    height: 200px;
  }
}
