.collection-nav {
  background-color: var(--primary-color-white-500);
  border-bottom: var(--border-red-5px);
  padding: var(--padding-100);
}

.collection-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.collection-nav ul li a {
  display: block;
  width: calc(var(--base-rem) * 9);
  font-size: var(--font-size-200);
  color: var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
  text-align: center;
  border: 3px solid var(--primary-color-red-500);
  padding: var(--padding-100);
  border-radius: 5px;
}

.collection-nav ul li a:link,
.collection-nav ul li a:visited {
  color: var(--primary-color-white-500);
}

.collection-grid {
  --collection-grid-gap: var(--padding-200);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: var(--collection-grid-gap);
  padding: var(--collection-grid-gap);
  align-items: center;
  justify-items: center;
}

.product-card {
  display: grid;
  grid-template-rows: 1.5fr 1fr 0.25fr;
  height: 100%;
  width: 80%;
  background-color: var(--primary-color-red-400);
  border: var(--border-red-5px);
  border-radius: 10px;
  color: var(--primary-color-red-500);
  color: var(--primary-color-white-500);
  position: relative;
}

.product-card__header {
  display: flex;
  align-items: center;
  margin: calc(var(--margin-100) / 2) var(--margin-100);
}

.product-card__header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  border: 5px solid var(--primary-color-white-500);
  background-color: var(--primary-color-red-500);
}

.product-card__header div {
  font-size: var(--font-size-300);
  text-align: center;
  border-radius: 10px;
  background-color: var(--primary-color-red-500);
  border: 5px solid var(--primary-color-white-500);
  padding: 5px;
}

.product-card__header div a {
  font-weight: bold;
  color: var(--primary-color-white-500);
}

.product-card__description {
  display: flex;
  align-items: center;
  background-color: var(--primary-color-white-500);
  font-size: 0.9375rem;
  background-color: var(--primary-color-red-500);
  border: 5px solid var(--primary-color-white-500);
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0 1rem 0.5rem 1rem;
}

.product-card__additional {
  border-top: 5px solid var(--primary-color-red-500);
  background-color: var(--primary-color-white-500);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: var(--padding-100);
  display: flex;
  justify-content: space-between;
  color: var(--primary-color-red-500);
}

.product-card__additional a,
.product-card__additional p {
  font-size: var(--font-size-200);
  text-decoration: underline;
  font-weight: bolder;
}

.product-card__additional a:hover {
  font-style: italic;
  /* text-decoration-color: var(--primary-color-red-400); */
}

.product-card__icon {
  position: absolute;
  right: 5%;
  top: 2%;
}

.product-card__icon img {
  height: 40px;
  width: 40px;
}
