:root {
  /* COLOR VARIABLES */
  --primary-color-red-500: #920e0e;
  --primary-color-white-500: #fcffc2;

  --primary-color-red-400: #ff3e3e;

  --secondary-color-gray: #efe3e3;
  --secondary-color-black: #1e1c1c;

  /* FONT VARIABLES */
  --font-dancing-script: 'Dancing Script', cursive;

  /* BASE REM FOR MEDIA QUERIES AND CALC */
  --base-rem: 0.625rem;
  --base-font-size: 0.625rem;
  --base-margin: 0.625rem;
  --base-padding: 0.625rem;

  /* FONT SIZE */
  --font-size-100: var(--base-font-size);
  --font-size-200: calc(var(--base-font-size) * 2);
  --font-size-300: calc(var(--base-font-size) * 3);
  --font-size-400: calc(var(--base-font-size) * 4);
  --font-size-500: calc(var(--base-font-size) * 5);
  --font-size-600: calc(var(--base-font-size) * 6);
  --font-size-700: calc(var(--base-font-size) * 7);
  --font-size-800: calc(var(--base-font-size) * 8);
  --font-size-900: calc(var(--base-font-size) * 9);

  /* MARGIN */
  --margin-100: var(--base-margin);
  --margin-200: calc(var(--base-margin) * 2);
  --margin-300: calc(var(--base-margin) * 3);
  --margin-400: calc(var(--base-margin) * 4);
  --margin-500: calc(var(--base-margin) * 5);
  --margin-600: calc(var(--base-margin) * 6);
  --margin-700: calc(var(--base-margin) * 7);
  --margin-800: calc(var(--base-margin) * 8);
  --margin-900: calc(var(--base-margin) * 9);

  /* PADDING */
  --padding-100: var(--base-padding);
  --padding-200: calc(var(--base-padding) * 2);
  --padding-300: calc(var(--base-padding) * 3);
  --padding-400: calc(var(--base-padding) * 4);
  --padding-500: calc(var(--base-padding) * 5);
  --padding-600: calc(var(--base-padding) * 6);
  --padding-700: calc(var(--base-padding) * 7);
  --padding-800: calc(var(--base-padding) * 8);
  --padding-900: calc(var(--base-padding) * 9);

  /* BORDERs */
  --border-red-5px: 5px solid var(--primary-color-red-500);
  --border-red-2px: 2px solid var(--primary-color-red-500);

  /* MEDIA QUERIES */
  --ipad-landscape-1180: 1180px;
}
