<div class="cart-product-card">
        <div class="cart-product-card__title">{{ product_title }}</div>
        <div class="cart-product-card__quantity">
            <input type="text" value="1"/>
        </div>
        <div class="cart-product-card__price">{{ product_price | money}}</div>
        <div class="cart-product-card__remove">X</div>
</div>