<div class="customer-navigation__content">
    <a href="/cart">
                <div class="customer-navigation__icon">
                    {{ images['icons_basket.png'] | image_url: width:48, height: 48 | image_tag }}
                </div>
            </a>
</div>