<div class="customer-navigation__content--search">
        <form action="{{ routes.search_url }}">
            <input 
                class="customer-navigation__form--search"
                type="text"
                placeholder="Search"
                name="q"
                types="products"
                value="{{ search.terms | escape }}"
                autocomplete="new-password"
            />

            {% comment %} <input type="hidden" name="type" value="product" /> {% endcomment %}
            <input type="hidden" name="type" value="product" />
            {% comment %} <input type="hidden" name="options[unavailable_products]" value="hide" /> {% endcomment %}
            <input type="hidden" name="options[prefix]" value="last" />
            <input 
                class="customer-navigation__form--submit"
                type="submit" 
                value="Search" />
        </form>
    </div>