<div id="customer-navigation-cart" class="customer-navigation__content">
    <h3 class="heading__tertiary cart-heading">Your Cart</h3>
    {% comment %} <p>{{ cart.item_count }}</p> {% endcomment %}
    <div class="cart-card-container">
        {% for item in cart.items %}
            {% render 'c-n-cart-prod-card' 
                product_title: item.title 
                product_price: item.variant.price
                product_tprice: item.final_line_price 
                product_id: item.id
                product_cart_quantity: item.quantity
            %}
        {% endfor %}
    </div>
    <p id="customer-navigation-cart-total">Total:&nbsp;{{ cart.total_price | money }}</p>
    {% comment %} add subtotal {% endcomment %}
    {% comment %} add update cart {% endcomment %}
    <a href="/cart">Checkout your Cart</a>
</div>
